<div class='container'>
  <div class='page-content'>
    <div class='app-copy'>
      <%= image_tag "icon.png", class: "app-icon" %>
      <h1>Ruby Raven</h1>
      <p>
        List of Ruby Conferences happening around the world.
      </p>
      <p>
        Get notified when a new Ruby Conference announced.
      </p>
      <p>
        <%= link_to image_tag("app-store-badge.svg"), "https://itunes.apple.com/us/app/ruby-raven-information-about/id991154527"%>
      </p>
      <div>
        Support: <%= mail_to "hello@conferencesapp.com" %>
      </div>
      <div>
        <%= link_to "Add a new ruby conference", new_conference_path %>
      </div>
    </div>
    <div class="iphone">
      <%= image_tag "iphone.png" %>
    </div>
  </div>
</div>
